# emacs
\#*\#
*~

*__pycache__*

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# C++
*.o

code/ViT/results/
code/ViT/resultsCNN/
code/ViT/ViTLoss.png

code/semseg/test/
code/semseg/results*
code/tmp/
code/results/